
.top-nav {
    display: flex;
    justify-content: space-between; /* Logotipo à esquerda, links à direita */
    align-items: center;
    padding: 1rem;
}

.brand-link img {
    height: 48px; /* Define a altura do logotipo */
}

.top-nav a {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 0.75rem 1.15rem;
    transition: all 0.3s;
}

.top-nav a:hover {
    background-color: var(--primary-color);
    color: var(--back-light-color);
}
