<header class="blue-header">
    <nav>
      <a routerLink="/">Blog</a>
      <a routerLink="/sobre">Sobre</a>
      <a routerLink="/descricao">Descrição</a>
    </nav>
  
    <div class="profile-container">
      <img src="https://avatars.githubusercontent.com/u/162472244?v=4" alt="Perfil" class="avatar">
      <h1>Saul Alves</h1>
      <p class="bio">
        Versão Angular da atividade. Sou estudante de ADS, desenvolvedor Full-Stack apaixonado por React e frameworks semelhantes.
      </p>
    </div>
  </header>