@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1024px;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

h1 {
  font-family: "Fira Code";
  text-align: center;
  font-size: 2rem;
}
h2 {
  font-family: Montserrat;
}
h3 {
  font-family: Montserrat;
}

#para1 {
  font-family: Helvetica;
  font-size: 0.8rem;
  font-right: 4rem;
  line-height: 1.5rem;
}
#para2 {
  font-family: Montserrat;
  line-height: 1.5rem;
  font-size: 1rem;
}

#em2 {
  font-family: Helvetica;
  font-size: 0.7rem;
}
ul {
  font-family: Montserrat;
  line-height: 1.5rem;
}

ol {
  line-height: 1.5rem;
  font-family: Montserrat;
}

img {
  width: 300px;
  height: 400px;
  margin-right: 1rem;
}
.rounded-image {
   border-radius: 30px;
}
