<app-header></app-header>

<main style="max-width: 800px; margin: 40px auto; padding: 0 20px;">
  <h2 style="margin-bottom: 30px; color: #333;">Últimas do blog (Angular)</h2>

  <app-post 
    title="5 dicas para sua carreira" 
    description="Dicas essenciais para devs."
    link="https://alexmngn.medium.com/level-up-your-career-as-a-developer-2ec42c208b82">
  </app-post>

  <app-post 
    title="Angular vs React" 
    description="Entendendo as diferenças na prática."
    link="https://www.dio.me/articles/react-vs-angular-qual-escolher-para-o-seu-projeto">
  </app-post>
</main>